# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE specific files

#   General
.classpath
client-app/latest.log
latest.log

#   Eclipse
.project
.settings

#   IntelliJ
.idea

#   VS Code
.vscode